<template>
  <div class="board-wrapper">
    <div class="board">
      <BoardItem
        :game-status="gameStatus"
        v-for="field in fields"
        :field="field"
        :key="'item-' + field.id"
        @selectField="selectField($event)"
      />
    </div>

    <p class="difficult" v-if="!isFail">
      Cells: <strong>{{ leftFields }} / {{ difficult }}</strong>
    </p>
    <div class="wrapp">
      <InlineMessage severity="success" class="mb-10" v-if="isWin"
        >Congratulations! Let's continue!</InlineMessage
      >
      <InlineMessage severity="error" class="mb-10" v-if="isFail"
        >You Lose. Try again!</InlineMessage
      >
      <Button
        label="Start game"
        class="p-button-rounded p-button-success btn"
        @click="start"
        :disabled="!canStartGame"
      />
    </div>
  </div>
</template>

<script>
import { GAME_STATUS } from "@/constants";
import { ref } from "vue";
import BoardItem from "./BoardItem";
import useGameInit from "@/components/composables/useGameInit";
import useGameStart from "@/components/composables/useGameStart";
import useGameProcess from "@/components/composables/useGameProcess";
import Button from "primevue/button";
import InlineMessage from "primevue/inlinemessage";

export default {
  name: "Board",
  props: {},
  components: {
    BoardItem,
    Button,
    InlineMessage,
  },
  setup() {
    const number = 25;
    const gameStatus = ref(GAME_STATUS.NONE);

    const { difficult, fields, init } = useGameInit(number);

    const { start, canStartGame } = useGameStart(
      init,
      fields,
      difficult,
      number,
      gameStatus
    );
    const { selectField, isWin, isFail, leftFields } = useGameProcess(
      fields,
      gameStatus,
      difficult,
      start
    );

    return {
      number,
      difficult,
      fields,
      init,
      start,
      gameStatus,
      canStartGame,
      selectField,
      isWin,
      isFail,
      leftFields,
    };
  },
};
</script>

<style lang="scss">
@import "@/scss/variables.scss";

.board {
  width: 300px;
  background: #eee;
  margin: 5px auto;
  padding: 5px 0;
  border-radius: 10px;
}

.btn {
  padding: 10px 40px !important;
}
.wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls {
  display: flex;
  align-items: stretch;
}
.mb-10 {
  margin-bottom: 10px !important;
}
</style>
