<template>
  <div class="app">
    <div class="wrapp">
      <img class="logo" alt="Vue logo" src="./assets/logo.png" />
      <h1 class="h1">Remember Cells</h1>
    </div>
    <p>Remember and open <i>all green cells</i></p>
    <Board />
  </div>
</template>

<script>
import Board from "@/components/Board.vue";

export default {
  name: "App",
  components: {
    Board,
  },
};
</script>

<style scoped>
.app {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 40px;
  text-align: center;
}
.logo {
  width: 100px;
}
.wrapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
</style>
